---

layout: default-layout.hbs

---


<h1>Welcome to the Shelter Style guide</h1>

<p>This page is just a placeholder until the framework is complete</p>

<p>Please use the site navigation to access the individual elements that make up the styleguide and templates made of those elements</p>