<div class="hero--full-width">
  {{> atom--image--hero }}
  <div calss="row">
    <section>
      <div class="hero--full-width__callout">
        <div class="hero--full-width__callout__highlighted">
          <p>emergency appeal</p>
        </div>
        <h1>Lots of homeless children this christmas</h1>
        <a href="#">Find out more</a>
      </div>
    </section>
  </div>
</div>