<div class="card card--article">
  {{> atom--image--16-9 }}
  <div class="card--article__caption">
    <div class="card--article__caption__tag">
      <p>Campaigns</p>
    </div>
    <a href="#">{{ globals.paragraph-short }}</a>
  </div>
  {{> atom--faux-block-link }}
</div>