<!DOCTYPE html>

<html>

<!-- Beginning of Styleguide -->
<head>
  <title>Shelter Styleguide</title>
  <link href="file:///Users/Rob/styleguide/site/css/main.css" rel="stylesheet" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
</head>
<body>

<div class="top-banner">
<header role="banner">
 <div class="row">
  <div class="goto-links">
    <a href="#main-content">Go to main content</a>
  </div>
  <div class="logo"> 
    <a href="file:///Users/Rob/styleguide/site/" title="Shelter"> 
    <svg>
      <title>Shelter</title>
      <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/images/Shelter_logo_white.svg" src="../../assets/images/Shelter_logo_white.png" width="100%" height="40" alt="Shelter"> </image>
    </svg>
    </a>
    <p>Shelter&#x27;s Digital Styleguide</p>  
  </div>
 </div>
</header>
</div>






<nav>
 <div class="row">  
  <a href="#" class="open-panel">MENU</a>
  <ul class="styleguide-nav unbulleted">
   <li class="js-main-nav current"><a href="#">Atoms</a>
      <ul>
        <a href="file:///Users/Rob/styleguide/site/atoms/atoms-global.html">Global</a>
        <a href="file:///Users/Rob/styleguide/site/atoms/atoms-text.html">Text</a>
        <a href="file:///Users/Rob/styleguide/site/atoms/atoms-lists.html">Lists</a>
        <a href="file:///Users/Rob/styleguide/site/atoms/atoms-images.html">Images</a>
        <a href="file:///Users/Rob/styleguide/site/atoms/atoms-forms.html">Forms</a>
        <a href="file:///Users/Rob/styleguide/site/atoms/atoms-buttons.html">Buttons</a>
        <a href="file:///Users/Rob/styleguide/site/atoms/atoms-tables.html">Tables</a>
      </ul>    
    </li> 
  
  <li class="js-main-nav">
  <a href="#">Molecules</a> 
     <ul>
        <a href="file:///Users/Rob/styleguide/site/molecules/molecules-text.html">Text</a>
        <a href="file:///Users/Rob/styleguide/site/molecules/molecules-layout.html">Layout</a>
        <a href="file:///Users/Rob/styleguide/site/molecules/molecules-blocks.html">Blocks</a>
        <a href="file:///Users/Rob/styleguide/site/molecules/molecules-cards.html">Cards</a>
        <a href="file:///Users/Rob/styleguide/site/molecules/molecules-media.html">Media</a>
        <a href="file:///Users/Rob/styleguide/site/molecules/molecules-forms.html">Forms</a>
        <a href="file:///Users/Rob/styleguide/site/molecules/molecules-navigation.html">Navigation</a>
        <a href="file:///Users/Rob/styleguide/site/molecules/molecules-components.html">Components</a>
      </ul>
    </li>
  
  <li class="js-main-nav">
  <a href="#">Organisms</a>
      <ul>
        <a href="file:///Users/Rob/styleguide/site/organisms/organisms-global.html">Global</a>
        <a href="file:///Users/Rob/styleguide/site/organisms/organisms-article.html">Article</a>
        <a href="file:///Users/Rob/styleguide/site/organisms/orgnisms-comments.html">Comments</a>
        <a href="file:///Users/Rob/styleguide/site/organisms/organisms-sections.html">Sections</a>
      </ul>
    </li>
  
  <li class="js-main-nav">
  <a href="#">Templates</a>
      <ul>
        <a href="file:///Users/Rob/styleguide/site/templates/template--value.html">Value test</a>
        <a href="file:///Users/Rob/styleguide/site/templates/template--strategy.html">Strategy test</a>
        <a href="file:///Users/Rob/styleguide/site/templates/template--strategy--article.html">Article test</a>
      </ul>
    </li>

   
  </ul> 
 </div>
</nav>
 <div class="wrapper" id="main-content">

  <div class="row">

  

   <p>This is a guide on how to use the modular elements of the shelter website</p> 
   <p> Last updated: <strong>17/04/15</strong></p>
   <hr>

   <p>1. Branding</p>
   <p>2. Layout</p> 
   <p>3. Typography</p> 
   <p>4. Colour</p>
   <p>5. Images</p>
   <p>6. Icons</p>
   <p>7. Data</p>
   <p>8. Forms</p>
   <p>9. Buttons</p>
   <p>10. Embedded content</p>

   <hr>

   <h1>1. Branding</h1>

   <hr>

   <h1>2. Layout</h1>

   <p>Make sure all designs are on grid, always design for mobile first. Use white space to create visual hierarchy. </p>

   <h4>Grid</h4>
   <div class="example"> 1028 grid </div>
   <h4>Spacing</h4>
   <div class="example"> to be confirmed</div>
   <h4>Cards</h4>
   <p>Cards are portable pieces of micro-data, they are used to create a sense of familiarity and give users access to content from other areas of the website. </p>
   <div class="example"> coming soon </div><br>


    <hr>

    <h1>3. Typography</h1>

      <p>All typography on the site should draw from the core palette.</p>

      <h2 id="headings">Headings</h2>

      <ul> 
        <li>Use Helvetica bold</li>
        <li>Ensure headings are used to create clear visual hierchy</li>
      </ul>

      <div class="example"><h1>Heading 1 - 00px bold black</h1>
      <h2>Heading 2 - 00px bold black</h2>
      <h3>Heading 3 - 00px bold black</h3>
      <h4>Heading 4 - 00px bold black</h4></div>


      <h2 id="body-copy">Body copy</h2>

      <ul> 
        <li>Use Helvetica</li>
        <li>Copy length should not excede 75 characters per line</li>
        <li>Font size should be <strong>13px</strong> on small screens and <strong>19px</strong> on large screens</li>
      </ul>

      <h4>Lead paragraph</h4>
      <div class="example"> <p> <strong>00px bold Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</strong></p></div>
      <h4>Body Copy</h4>
      <div class="example"><p> 00px Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p></div>
      <h4>Links</h4>
      <div class="example"><p> <u>00px Lorem ipsum dolor</u> sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p></div>


  <br>
    <hr>


    <h1>4. Colour</h1>

    <p>Always use the Shelter colour palette, ensure that any colour combinations are fully accessible</p>
    
    <h4>Core palette</h4>
    
    <div class="example">
      <div class="palette--primary"></div>
      <div class="palette--seconday"></div>
      <div class="palette--tertiary"></div>
    </div>

    <h4>Secondary palette</h4>
    
    <div class="example">
      <div class="palette--alt1"></div>
      <div class="palette--alt2"></div>
      <div class="palette--alt3"></div>
      <div class="palette--alt4"></div>
      <div class="palette--alt5"></div>
      <div class="palette--alt6"></div>
    </div>

    <h4>Greyscale palette</h4>
    
    <div class="example">
      <div class="palette--grey1"></div>
    </div>

    <hr>

    <h1 id="images">5. Images</h1>

    <p>Images should be (aspect ratio to be confirmed).</p>

    <h4>Image size</h4>

    <div class="example"><img alt="Placeholder Image and Some Alt Text" src="http://placehold.it/450x300" title="A title element for this placeholder image.">
    <img alt="Placeholder Image and Some Alt Text" src="http://placehold.it/450x300" title="A title element for this placeholder image."></div>

    <hr>

    <h1 id="images">6. Icons</h1>

    <p>Icons should only be used to signpost a user, they must not be misleading or hide content, they should not be used as decoration. </p>

    <h4>Icons</h4>
    <div class="example"></div>

    <h4>Social Icons</h4>
    <div class="example"></div>
    <hr>

    <h1>7. Data</h1>

    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem.</p>
    
    <h4>Data vis.</h4>
    <div class="example"></div>

    <h4>Tables</h4>
    <div class="example"></div>

    <h4>Lists </h4>
    <div class="example">
      <ul>
        <li>item #1</li>
        <li>item #2</li>
        <li>item #3</li>
      </ul></div>
    
    <hr>

    <h1>8. Forms</h1>

    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem.</p>

    <div class="example">

    <form>
        <p><label for="text_field">Text Field:</label><br>
          <input type="text" id="text_field" class="sq-form-field">
        </p>

        <p><label for="text_area">Text Area:</label><br>
          <textarea id="text_area" class="sq-form-field"></textarea>
        </p>

        <p><label for="select_element">Select Element:</label><br>
          <select id="select_element" class="sq-form-field">
            <optgroup label="Option Group 1">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
            </optgroup>
            <optgroup label="Option Group 2">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3" disabled>Disabled Option</option>
            </optgroup>
          </select>
        </p>

    
        <p>Radio Buttons:<br>
          <label><input type="radio" class="radio" name="radio_button" value="radio_1"> Radio 1</label><br>
          <label><input type="radio" class="radio" name="radio_button" value="radio_2"> Radio 2</label><br>
          <label><input type="radio" class="radio" name="radio_button" value="radio_3"> Radio 3</label><br>
        </p>

        <p>Checkboxes:<br>
          <label><input type="checkbox" class="checkbox" name="checkboxes" value="check_1"> Checkbox 1</label><br>
          <label><input type="checkbox" class="checkbox" name="checkboxes" value="check_2"> Checkbox 2</label><br>
          <label><input type="checkbox" class="checkbox" name="checkboxes" value="check_3"> Checkbox 3</label><br>
          <label><input type="checkbox" class="checkbox" name="checkboxes" value="check_4" disabled> Checkbox Disabled</label><br>
        </p>

        <p><label for="password">Password:</label><br>
          <input type="password" class="sq-form-field" id="password">
        </p>

        <h3>HTML5-specific Form Elements</h3>

        <p><label for="email">Email:</label><br>
          <input type="email" class="sq-form-field" id="email">
        </p>

        <p><label for="url">URL:</label><br>
          <input type="url" class="sq-form-field" id="url">
        </p>

        <p><label for="tel">Telephone:</label><br>
          <input type="tel" class="sq-form-field" id="tel">
        </p>

        <p><label for="number">Number:</label><br>
          <input type="number" class="sq-form-field" id="number" min="0" max="10" step="1" value="5">
        </p>

        <p><label for="search">Search:</label><br>
          <input type="search" class="sq-form-field" id="search">
        </p>

        <p><label for="date">Date:</label><br>
          <input type="date" class="sq-form-field" id="date">
        </p>

        <p><label for="time">Time:</label><br>
          <input type="time" class="sq-form-field" id="time">
        </p>

        <p><label for="datalist">Datalist:</label><br>
          <input list="browsers" name="browser" type="datalist" class="sq-form-field" id="datalist">
          <datalist id="browsers">
            <option value="Internet Explorer">
            </option><option value="Firefox">
            </option><option value="Chrome">
            </option><option value="Opera">
            </option><option value="Safari">
         </datalist>
        </p>

      </form></div>

    <hr>

        <h1>9. Buttons</h1>

        <p>Red buttons should only be used as a call to action.</p>

        <div class="example"><p>
          <button class="button-cta">Donate now</button>
        </p>
        
        <p>
          <input class="button-secondary" type="reset" value="Clear">
          <input class="button-secondary" type="submit" value="Submit">
        </p></div>

    <hr>

       <h1>10. Embedded Content</h1>

       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem.</p>
       
          <p>YouTube video (iframe):</p>
          <div class="example">
          <iframe width="560" height="315" src="http://www.youtube.com/embed/l4f9QF0SGuQ" frameborder="0" allowfullscreen></iframe></div>


  </div>
  
	<footer class="clearfix footer" role="contentinfo">
	  <div class="row">
	  	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 198 180" enable-background="new 0 0 198 180" xml:space="preserve" class="footer__accent">
	    <polygon fill="#cc0000" stroke-miterlimit="10" points="198, 1.129 198, 180 1.295, 180 "></polygon>
	    </svg>
	    <div class="logo footer__logo"> 
	    <a href="//england.shelter.org.uk" title="Shelter"> 
	    <svg>
	      <title>Shelter</title>
	      <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://england.shelter.org.uk/__data/assets/file/0003/1138593/Shelter_logo_white.svg" src="http://england.shelter.org.uk/__data/assets/file/0005/1138595/Shelter_logo_white.png" width="100%" height="40" alt="Shelter"> </image>
	    </svg>
	    </a>
	    </div>
	    <p class="text-small">
	      Charity number 263710 (England &amp; Wales); SC002327 (Scotland)<br>
	      88 Old Street London EC1V 9HU</p>    
	  </div>
	  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
	</footer>
	<section id="js-cookiebar" class="cookiebar">
	    <div class="row">
	        <div class="cookiebar__message">
	            <p>Shelter&rsquo;s site uses cookies. By continuing to browse, you are agreeing to our use of cookies. <a href="http://england.shelter.org.uk/what_we_do/contact_us/privacy_and_cookies">Find out more</a> <a href="#" id="js-cookiebar-close" class="cookiebar__message__close">Close</a></p>
	        </div>
	    </div>
	</section>
 </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css"/>
<script src="http://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>
<script src="../../assets/js/modernizr.custom.js"></script> 
<link rel="stylesheet" href="../../assets/js/prism_css.css"/>
<script type="text/javascript" src="../../assets/js/main.js"></script>
<script src="../../assets/js/prism_js.js"></script> 

<!--[if lt IE 9]>
 <script src="../../assets/js/html5shiv.min.js"></script> 
 <script src="../../assets/js/rem.min.js"></script>
 <script src="../../assets/js/respond.min.js"></script>   
 <script src="../../assets/js/selectivizr.js"></script> 
<![endif] -->


</body>

</html>

<!-- End of Styleguide -->