<div class="content--main">
  <h2>Our <a href="#">housing advice</a> helps millions of people every year struggling with bad housing or homelessness</h2>
</div>
<div class="advice-topics content--full">
  <div class="col--2up">
    <h4>Popular topics</h4>
    <ul class="advice-topics__list unbulleted">
      <li><a href="//england.shelter.org.uk/get_advice/homelessness">Homelessness</a></li>
      <li><a href="//england.shelter.org.uk/get_advice/private_renting">Private renting</a></li>
      <li><a href="//england.shelter.org.uk/get_advice/tenancy_deposits">Tenancy deposits</a></li>
    </ul>
    <ul class="advice-topics__list unbulleted">
      <li><a href="//england.shelter.org.uk/get_advice/social_housing">Eviction</a></li>
      <li><a href="//england.shelter.org.uk/get_advice/repairs_and_bad_conditions">Repairs</a></li>
      <li><a href="//england.shelter.org.uk/get_advice/housing_benefit_and_local_housing_allowance">Housing benefit</a></li>
      <li><a href="//england.shelter.org.uk/get_advice/social_housing">Council housing</a></li>
    </ul>
    <a href="//england.shelter.org.uk/get_advice" class="button button--filter advice-topics__button ">All advice</a>
  </div>
  <div class="col--2up">
    <form class="advice-topics__form" method="GET" action="http://england.shelter.org.uk/search">
      <h4>Search our housing advice</h4>
      {{> atom--input--search }}
    </form>
  </div>
</div>