<div class="card card--person">
  {{> atom--image--square }}
  <div class="card--person__caption">
    <p>
      <strong>Campbell Robb</strong>
      </br>
      Chief Executive</p>
    <div class="card--article__more">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
  {{> atom--faux-block-link }}
</div>