<nav id="breadcrumb" class="nav--breadcrumb">
  <ol class="unbulleted">
    <li>
      <a href="http://england.shelter.org.uk">
        <span>Shelter England</span>
      </a>
    </li>
    <li>
      <a href="http://england.shelter.org.uk/support_us">
        <span>Support us</span>
      </a>
    </li>
    <li>
      <a href="http://england.shelter.org.uk/support_us/events">
        <span>Fundraising events</span>
      </a>
    </li>
    <li>Run</li>
  </ol>
</nav>