<ul class="shoppinglist--donate">
  <a data-donate="{ &quot;id&quot;: 178, &quot;amount&quot;: 50 }" class="button--donate">£50</a>
  <a data-donate="{ &quot;id&quot;: 178, &quot;amount&quot;: 30 }" class="button--donate">£30</a>
  <a data-donate="{ &quot;id&quot;: 178, &quot;amount&quot;: 20 }" class="button--donate">£20</a>
</ul>