<section>
  <div class="push-down hero-banner">
    {{> atom--image--hero }}
    <h2>No-one should face bad housing or homelessness alone. That's why we offer free, expert advice to anyone - no matter what their situation, 365 days a year.
      <h2>
  </div>
</section>