<div class="form form--signup">
  <h2>Apply to enter Virgin London Marathon</h2>
  <div class="content--main">
    <form>
      {{> atom--input--text }} {{> atom--input--text }} {{> atom--input--date }} {{> atom--input--checkbox--checked }} {{> atom--button--cta--secondary }}
    </form>
  </div>
</div>