<div class="content--full flex-container hero--event push-down">
  <div class="hero--event__image flex-item">
    <div class="content"></div>
    <div class="hero--event__image__logo">
      {{> atom--image--square }}
    </div>
  </div>
  <div class="flex-item hero--event__card">
    {{> molecule--card--event--banner }}
  </div>
</div>