<div class="stat-3up">
  <div class="stat-3up__row">
    <div class="flex-container">
      <div class="flex-item col3up">
        {{> molecule--block--call-out }}
      </div>
      <div class="flex-item col3up">
        {{> molecule--block--call-out }}
      </div>
      <div class="flex-item col3up">
        {{> molecule--block--call-out }}
      </div>
    </div>
  </div>
</div>