<figure class="card--donate">
  {{> atom--image--16-9 }}
  <figcaption class="card--donate__caption ">
    <p>{{ globals.paragraph-short }}</p>
    {{> atom--button--donate }}
  </figcaption>
</figure>