<section>
  <div class="push-down container--pie-chart">
    {{> molecule--block--chart }}
  </div>
  <div class="push-down container--social-proof">
    {{> molecule--block--social-proof }}
  </div>
</section>