<footer id="main-footer">
  <div class="row">
    <div class="footer__idents">
      {{> molecule--component--social-icons }}
    </div>
    {{> molecule--navigation--footer }}
  </div>
  <div class="footer__logo">
    <div class="row">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 198 180" enable-background="new 0 0 198 180" xml:space="preserve" class="footer__accent">
        <polygon fill="#ea232d" stroke-miterlimit="10" points="198, 1.129 198, 180 1.295, 180 "></polygon>
      </svg>
      {{> atom--image--logo }}
      <p class="text-small">
        Charity number 263710 (England &amp; Wales); SC002327 (Scotland)
        <br> 88 Old Street London EC1V 9HU</p>
    </div>
  </div>
</footer>