<div class="content--full flex-container hero--event--featured push-down">
  {{> molecule--component--section-tag }}
  <div class="hero--event--featured__image flex-item">
    <div class="content"></div>
  </div>
  <div class="flex-item hero--event--featured__card">
    {{> molecule--card--event--banner }}
  </div>
</div>