<div class="card--full-image">
  <div class="card--article__caption">
    <h1>Our Work</h1>
    <p>{{ globals.paragraph-long }}</p>
  </div>
  <div class="card--article__more">
    {{> atom--button--find-out }}
  </div>
  {{> atom--faux-block-link }}
</div>