<form class="form--donate--widget">
  <h3>Donate now</h3>
  {{> atom--input--donate }}
  <input type="hidden" name="cid" value="153">
  <input type="hidden" name="free_amount" value="1">
  <input type="hidden" name="amount" value="">
  <input type="hidden" name="reserved_appeal_code" value="">
  <input type="hidden" name="frequency" value="once">
  <input type="submit" name="submit" value="Donate" class="js-donate-button button--donate">
</form>