.donate-section label{
  display: block;
  font-weight: 500;
  padding: 0.5em 0 0;
  @include bp(med){
    display: inline;
    margin: 0 0.5em;
  }
}

.donate-section__shoppinglist{

  .button--donate{
    @include span(4);
    clear: none;
    margin-bottom: 1em;
    font-size: 1.2em;
    padding-left: 0;
    padding-right: 0;
    &:nth-child(n+3){
      float: right;
      margin-right: 0;
    }
    @include bp(med){
      width: auto;
      margin-left: 0;
      margin-right: 10px;
      padding-left: 2em;
      padding-right: 2em;
      &:nth-child(n+3){
        float: left;
        margin-right: 10px;
      }
    }
  }
}

.donate-section__form{
  
  .form--donate__pound {
  	font-family: $font-stack;
  	font-weight: 700;
  	position: absolute;
  	left: 12px;
  	top: 13px;
  	z-index: 1;
  	font-size: 1.2rem;
  		@include bp(med){
  			top: 14px;
  		}
  }

  .form--donate__input{
    @include span(6);
    height: 3em;
    @include bp(med){
      @include span(4);
      height: 3.5em;
    //  width: initial;
    }
  }
  .button--donate{
    @include span(6 last);
    clear: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.2em;
    @include bp(med){
      width: auto;
      float: left;
      padding-left: 2em;
      padding-right: 2em;
    }
  }
  @include bp(med){
    clear: none;
    float: left;
    @include span(6);
  }
}
