<form class="donate-section" data-form-type="donation" data-form-id="170">
  <div class="content--main">
    <h2>This christmas a million billion children will be homeless and we need money because… reasons</h2>
  </div>
  <div class="u-group">
    <p>I would like to make a
      <label>
        <input type="radio" name="frequency" class="radio__input" value="once" checked="checked">
        <span>Single donation</span>
      </label>
      <label>
        <input type="radio" name="frequency" class="radio__input" value="regular">
        <span>Monthly donation</span>
      </label>
    </p>
  </div>
  <ul class="donate-section__shoppinglist">
    <a data-donate='{ "id": 170, "amount": 10 }' class="button--donate ">£10</a>
    <a data-donate='{ "id": 170, "amount": 20 }' class="button--donate">£20</a>
    <a data-donate='{ "id": 170, "amount": 30 }' class="button--donate">£30</a>
  </ul>
  <div class="field-container donate-section__form">
    <span class="form--donate__pound">£</span>
    <input type="number" name="amount" class="form--donate__input" />
    <input type="submit" class="button--donate" value="Donate now " />
  </div>
</form>