<div class="block block--social-proof">
  <h2>Latest Donations</h2>
  <ul class="block--social-proof__ul unbulleted">
    {{> atom--socialproof-li }} {{> atom--socialproof-li }} {{> atom--socialproof-li }} {{> atom--socialproof-li }} {{> atom--socialproof-li }}
  </ul>
</div>