<div class="card card--form">
  <h4>{{ globals.title}}</h4>
  <div class="field-container">
    <input type="text" placeholder="some text">
  </div>
  <a class="button button--cta--secondary">{{globals.cta.secondary}}</a>
</div>
