<div class="u-background-donate">
  <div class="donate-section--small row">
    <div class="content--semi">
      <h3>You can make a difference today</h3>
    </div>
    <div class="content--semi">
      <form class="form--donate">
        {{> atom--input--donate }}
        <input type="hidden" name="cid" value="153">
        <input type="hidden" name="free_amount" value="1">
        <input type="hidden" name="amount" value="">
        <input type="hidden" name="reserved_appeal_code" value="">
        <input type="hidden" name="frequency" value="once">
        <input type="submit" name="submit" value="Donate" class="js-donate-button button--donate">
      </form>
    </div>
  </div>
</div>