//Simple text and link grid signpost for pages within a section
.signpost {
  border-bottom: 3px solid $dark-grey;
  position: relative;
  padding-bottom: 1em;
  margin-bottom: 2em;
  a {
    margin-bottom: 1em;
    display: block;
  }
  h3 {
    color: $link;
    font-weight: 300;
    display: inline;
    margin-bottom: 1em;
    &:after {
      content: "\f054";
      margin-left: 1em;
      font-family: fontAwesome;
      font-size: 0.8em;
    }
  }
  i {
    color: $link;
    margin-left: 1em;
  }
  p {
    margin-top: initial;
  }
}
//Remove margin from last item in list to avoid excessive push down
.flex-item:last-child .signpost.push-down {
  margin-bottom: 0;
}
