<section>
  <div class="signpost push-down">
    <a href="#">
      <h3>{{ globals.title-short }}</h3>
      <i class="fa fa-chevron-right"></i>
    </a>
    <p>{{globals.paragraph-short}}</p>
    {{> atom--faux-block-link }}
  </div>
</section>