<div class="card card--event">
  {{> atom--image--16-9 }}
  <div class="card--event__heading">
    <h3>Virgin London Marathon</h3>
    <ul class="unbulleted  card--event__details">
      <li class="details">
        <i class="fa fa-map-marker"></i>London</li>
      <li class="details">
        <i class="fa fa-calendar"></i>24 April 2016</li>
      <li class="details">
        <i class="fa fa-trophy"></i>26.2 miles</li>
    </ul>
    <hr>
  </div>
  <div class="card--event__caption">
    <p>{{ globals.paragraph-short }}</p>
  </div>
  <div class="card--event__button">
    {{> atom--button--cta--secondary }}
  </div>
  {{> atom--faux-block-link }}
</div>