<div class="flex-container tile-block">
  <div class="flex-item">
    {{> molecule--block--section-tile }}
  </div>
  <div class="flex-item">
    {{> molecule--block--section-tile }}
  </div>
  <div class="flex-item">
    {{> molecule--block--section-tile }}
  </div>
  <div class="flex-item">
    {{> molecule--block--section-tile }}
  </div>
</div>