ul{
	padding-left: 0;
	list-style: none;
	margin: 0;
	display: block;
}

ul li{
	position: relative;
	padding-left: 1.5em;
	margin-bottom: 1em;
}

ol li{
	margin-bottom: 1em;
}

ul li ul, ol li ol{
	padding-left: 1em;
	margin: 20px 0 ;
}


ul li:before{
	 content: "■";
  font-family: "Arial Black";
  color: $primary;
  position: absolute;
  left: 0px;
  top: -3px;

}

ul.unbulleted{
	list-style: none;
	overflow: hidden;
}

ul.unbulleted li{
	position: relative;
	padding-left: 0;
	margin-bottom: 1em;
}

ul.unbulleted li:before{
	list-style: none;
	content: "";
}
