<div class="card card--article--promo">
  {{> atom--image--16-9 }}
  <div class="card--article--promo__caption">
    <a href="#">{{ globals.paragraph-short }}</a>
  </div>
  {{> atom--faux-block-link }}
</div>
