.form--donate{
	padding: 0;
	overflow: hidden;
	@include bp(med){
		padding: 1em;
	}
	 .field-container{
		@include span(6);
	 		@include bp(x-small){
					margin-bottom: 10px;
				}
	 }
	 .button--donate{
		 @include span(6 last);
		 padding-left: 0;
		 padding-right: 0;
		 clear: none;
		 margin-bottom: 20px;
		 @include bp(x-small){
			margin-bottom: 0;
		 }
	 }
		h1{
			margin-top: 0;
			margin-bottom: 10px;
		}
}

.form--donate__radio {
	.radio{
		@include bp(x-small){
			width: auto;
		}
	}
}
