<div class="u-background-d values-section">
  <div class="row">
    <div class="block--values">
      <h2>Our Values</h2>
      <p>
        <strong>We strive every day to give people the help they need, and campaign relentlessly to achieve our vision of a safe, secure, affordable home for everyone.</strong>
      </p>
      <div class="block--values__ident">
        <p>We are</p>
      </div>
    </div>
  </div>
</div>