<div class="block-container hero-banner--donate--case-study">
  {{> atom--image--hero }}
  <div class="hero-banner--donate--case-study__text">
    <h1>Pregnant.</br>
      Abused.</br>
      Homeless.</h1>
    {{> molecule--form--donate--case-study }}
  </div>
</div>