<div class="form form--signup">
  <h3>About you</h3>
  <div class="content--main">
    <form>
      {{> atom--input--text }} {{> atom--input--text }} {{> atom--input--text }} {{> atom--input--textarea }} {{> atom--input--checkbox--checked }} {{> atom--button--cta--secondary }}
    </form>
  </div>
  <div class="content--full">
    <p>Unfortunately, we cannot offer volunteering opportunities to anyone who is being assisted by us. We do, however, offer <a href="#">special volunteer opportunities</a> to those we have helped</p>
  </div>
</div>