<div class="card card--download">
  <div class="card--download__screen">
    <img src="{{global.placeholder.strategy-booklet}}">
  </div>
  <div class="card--download__text">
    <p class="text-bold">Read our strategy for 2015-18</p>
    {{> atom--button--download }}
  </div>
  {{> atom--faux-block-link }}
</div>