<div class="field-container">
  <label>
    <span>{{ globals.cta.donate }}</span>
    <span class="form--donate__pound">&pound;</span>
    <input class="form--donate__input" id="text" pattern="[0-9]*" placeholder="{{ globals.cta.donate }}" type="number">
  </label>
</div>