<div class="field-container">
  <label>
    <span>{{ globals.input.num }}</span>
    <input id="text" type="number" aria-label="Number Input *" placeholder="{{ globals.input.num }}" pattern="[0-9]*">
  </label>
</div>