<div class="field-container">
  <label>
    <span>{{ globals.input.text }}</span>
    <input id="js-first-name" type="text" placeholder="{{ globals.input.text }}" required aria-required="true">
  </label>
</div>