<!DOCTYPE html>

<html>

{{> head }}

<body>

<div class="js-page-wrapper">

{{>organism--section--notification--beta}}

{{> organism--global--header }}


  <div class="row">

  {{> body }}

  </div>

	{{> organism--global--footer }}

	{{> organism--section--cookie-bar }}

 {{> scripts }}

 </div>

</body>

</html>

<!-- End of Styleguide -->
