//Gallery (Boxes will not remain same height)

.col--2up, html.no-flexbox .col2up.slider-item, html.no-flexbox .col2up{
 margin-bottom: 1em;
	@include bp(med){
		@include gallery(6);
		margin-bottom: 0;
	}
}

.col--3up, html.no-flexbox .col3up.slider-item, html.no-flexbox .col3up{
	margin-bottom: 1em;
	@include bp(med){
		@include gallery(4);
		margin-bottom: 0;
	}
}

.col--4up, html.no-flexbox .col4up.slider-item, html.no-flexbox .col4up{
	margin-bottom: 1em;
	@include bp(med){
		@include gallery(3);
		margin-bottom: 0;
	}
}

//Flexbox (Boxes will remain same height in grid)

.flex-container{
  display: flexbox;
  display: flex;
  flex-wrap: wrap;
	@include bp(x-small){
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	@include bp(med){
		//padding: 0 0.5em;
	}
}

.flex-item{
	display: flex;
	flex-direction: row;
	padding: 0 ;
 	box-sizing: border-box;
	& > div{
		width: 100%;
		box-sizing: border-box;
	}
}

//2 column 1 row flexbox

.col2up{
	margin-bottom: 1em;
  width: 100%;
	@include bp(x-small){
		flex-shrink: 1;
		width: 49%;
		& > div{
			width: 100%;
			box-sizing: border-box;
		}
	}
}


//3 column 1 row flexbox

.col3up{
	margin-bottom: 1em;
  width: 100%;
	// @include bp(x-small){
	// 	flex-shrink: 1;
  //   width: 48%;
	// }
	@include bp(med){
		flex-shrink: 1;
		width: 32%;
		& > div{
			width: 100%;
			box-sizing: border-box;
		}
	}
}

//4 column 1 row flexbox

.col4up{
	margin-bottom: 1em;
	position: relative;
	width: 100%;
	// @include bp(x-small){
	// 	flex-shrink: 1;
	// 	width: 49%;
	// }
	@include bp(med){
		flex-shrink: 1;
		width: 24%;
		& > div{
			width: 100%;
			box-sizing: border-box;
		}
	}
}

.flex-item.slider-item{
	padding: 0 0.5em;
}

.col3up.slider-item{
	@include bp(x-small){
		flex-shrink: 1;
		width: 32%;
		}
}

//Multi row grids (justify-content: space-between; will not work here)

.grid.flex-container{
	justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.grid .col3up {
	width: 49%;
  margin-right: 1%;
	@include bp(x-small){
	 width: 32%;
  margin-right: 2%;
  &:nth-child(3n){
  	margin-right: 0;
  }
 }
}

.grid .col4up {
	width: 100%;
	@include bp(x-small){
	 width: 24%;
  margin-right: 2.5%;
  &:nth-child(4n){
  	margin-right: 0;
  }
 }
}


//Image floats within text

.image--right{
	@include bp(med){
		@include span(5.5 last);
		margin-left: 1em;
	}
}

.image--left{
 @include bp(med){
		@include span(5.5);
		margin-right: 1em;
	}
}
