<div class="section-tile">
  {{> atom--image--16-9 }}
  <div class="section-tile__caption">
    <div class="card--article__caption__tag">
      <p>{{ globals.title }}</p>
    </div>
    <p>{{ globals.paragraph-short }}</p>
    <div class="card--article__more">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
  {{> atom--faux-block-link }}
</div>