--- layout: default-layout.hbs --- {{> organism--block--strategy--value }}
<div class="content-wrapper" id="main-content">
  <section>
    <div class="block-container content--main">
      <h2>Our aim</h2>
      <p>At Shelter we believe that for too long too many people have suffered the consequences of a housing crisis, decades in the making. This needs to change.</p>
      <p>We aim to vastly improve the lives of the millions of people struggling with bad housing or homelessness, by putting the country on the right course to end the housing crisis.</p>
      <hr>
    </div>
  </section>
  <section>
    <div class="block-container content--main">
      <h2>Making it happen</h2>
      <ul class="bullet">
        <li>We channel our efforts into making the greatest positive impact for the people we help. We do this by highlighting concerns about housing, and uniting people in demand for action. </li>
        <li>We will ensure the government puts in place plans to build the homes we need and reforms the private rented sector to offer homes that are safe, secure and stable. </li>
        <li>We work tirelessly to overcome the stigmas that often cloud reasoned debate about the housing safety net. </li>
        <li>We put the voices of those affected by the housing crisis at the centre of all we do, and ensure they're heard at every level of government.</li>
      </ul>
      <hr>
    </div>
  </section>
  <section>
    <div class="block-container content--main">
      <h2>Our Commitment</h2>
      <p>To win the lasting public and political support that will make housing more affordable, renting fairer and homelessness a thing of the past.</p>
    </div>
  </section>
</div>