--- layout: default-layout.hbs --- {{> organism--hero }}
<div class="content--main" id="main-content">
  <article class="block-container">
    <h1>Advice</h1>
    <p>We believe that everybody has the right to a safe, secure, affordable home. That's why we do all we can to ensure those who come to us get the best possible help to resolve their housing problems in the most timely and efficient way possible.</p>
    <p>Free, accessible housing advice is available for all on our website from hundreds of pages covering everything from what to do if facing eviction, to tools to check your tenancy deposit is protected, and sample letters if you're not sure how to write to your landlord.</p>
    <div class="block-container">
      {{> atom--image--16-9 }}
    </div>
    <p>On our helpline our expert advisers give confidential advice 365 days a year, on everything from mortgage arrears to finding a place to sleep. At our advice centres across the country we work to ensure people get the help and support they need to find a home, and keep it.</p>
  </article>
</div>
<div class="content--sidebar flex-container">
  <div class="block-container">
    {{> molecule--card--article }}
  </div>
  <div class="block-container">
    {{> molecule--card--article }}
  </div>
</div>